<div class="tabla-container">
  <button mat-raised-button color="primary" class="btn" (click)="abrirDialogoParte()">➕ Añadir Parte</button>

  <table mat-table [dataSource]="inventarioList" class="mat-elevation-z8">

    <!-- <ng-container matColumnDef="nombreParte">
      <th mat-header-cell *matHeaderCellDef class="titulos">Nombre Parte</th>
      <td mat-cell *matCellDef="let element; let i = index">
        <ng-container *ngIf="editIndex === i">
          <input matInput [(ngModel)]="inventarioList.data[i].nombreParte" placeholder="Nombre parte">
        </ng-container>
        <ng-container *ngIf="editIndex !== i">{{ element.nombreParte }}</ng-container>
      </td>
    </ng-container> -->

    <ng-container matColumnDef="nombreParte">
  <th mat-header-cell *matHeaderCellDef class="titulos">Nombre Parte</th>
  <td mat-cell *matCellDef="let element">
    {{ element.nombreParte }}
  </td>
</ng-container>


    <!-- <ng-container matColumnDef="descripcion">
      <th mat-header-cell *matHeaderCellDef class="titulos">Descripción</th>
      <td mat-cell *matCellDef="let element; let i = index">
        <ng-container *ngIf="editIndex === i">
          <input matInput [(ngModel)]="inventarioList.data[i].descripcion" placeholder="Descripción">
        </ng-container>
        <ng-container *ngIf="editIndex !== i">{{ element.descripcion }}</ng-container>
      </td>
    </ng-container> -->

    <ng-container matColumnDef="descripcion">
  <th mat-header-cell *matHeaderCellDef class="titulos">descripcion</th>
  <td mat-cell *matCellDef="let element">
    {{ element.descripcion }}
  </td>
</ng-container>


    <!-- <ng-container matColumnDef="cantidadDisponible">
      <th mat-header-cell *matHeaderCellDef class="titulos">Cantidad</th>
      <td mat-cell *matCellDef="let element; let i = index">
        <ng-container *ngIf="editIndex === i">
          <input matInput type="number" [(ngModel)]="inventarioList.data[i].cantidadDisponible" placeholder="Cantidad">
        </ng-container>
        <ng-container *ngIf="editIndex !== i">{{ element.cantidadDisponible }}</ng-container>
      </td>
    </ng-container> -->

    <ng-container matColumnDef="cantidadDisponible">
  <th mat-header-cell *matHeaderCellDef class="titulos">Cantidad</th>
  <td mat-cell *matCellDef="let element">
    {{ element.cantidadDisponible }}
  </td>
</ng-container>

    <!-- <ng-container matColumnDef="parteUbicacion">
      <th mat-header-cell *matHeaderCellDef class="titulos">Ubicación</th>
      <td mat-cell *matCellDef="let element; let i = index">
        <ng-container *ngIf="editIndex === i">
          <input matInput [(ngModel)]="inventarioList.data[i].parteUbicacion" placeholder="Ubicación">
        </ng-container>
        <ng-container *ngIf="editIndex !== i">{{ element.parteUbicacion }}</ng-container>
      </td>
    </ng-container> -->

    <ng-container matColumnDef="parteUbicacion">
  <th mat-header-cell *matHeaderCellDef class="titulos">Ubicación</th>
  <td mat-cell *matCellDef="let element">
    {{ element.parteUbicacion }}
  </td>
</ng-container>

    <!-- <ng-container matColumnDef="precio">
      <th mat-header-cell *matHeaderCellDef class="titulos">Precio</th>
      <td mat-cell *matCellDef="let element; let i = index">
        <ng-container *ngIf="editIndex === i">
          <input matInput type="number" [(ngModel)]="inventarioList.data[i].precio" placeholder="Precio">
        </ng-container>
        <ng-container *ngIf="editIndex !== i">{{ element.precio }}</ng-container>
      </td>
    </ng-container> -->

    <ng-container matColumnDef="precio">
  <th mat-header-cell *matHeaderCellDef class="titulos">Precio</th>
  <td mat-cell *matCellDef="let element">
    {{ element.precio }}
  </td>
</ng-container>

    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef class="titulos1">Acciones</th>
      <td mat-cell *matCellDef="let element; let i = index">
        <div class="acciones">
          <ng-container *ngIf="editIndex === i; else botonesDefault">
            <button mat-button color="primary" class="btn1" (click)="guardarParte()">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-button color="warn" class="btn1" (click)="delete()">
              <mat-icon>delete</mat-icon>
            </button>
          </ng-container>
          <ng-template #botonesDefault>
            <button mat-button color="primary" class="btn1" (click)="guardarParte()">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-button color="warn" class="btn1" (click)="delete()">
              <mat-icon>delete</mat-icon>
            </button>
          </ng-template>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr *ngIf="inventarioList.data.length === 0">
      <td [attr.colspan]="displayedColumns.length" class="mensaje-sin-datos">
        No hay datos registrados aún
      </td>
    </tr>
    

<!-- <tr class="fila-nueva" mat-row>
  <td mat-cell *matCellDef>
    <input matInput [(ngModel)]="nuevoInventario.nombreParte" name="nombreParte">
  </td>
  <td mat-cell *matCellDef>
    <input matInput [(ngModel)]="nuevoInventario.descripcion" name="descripcion">
  </td>
  <td mat-cell *matCellDef>
    <input matInput type="number" [(ngModel)]="nuevoInventario.cantidadDisponible" name="cantidad">
  </td>
  <td mat-cell *matCellDef>
    <input matInput [(ngModel)]="nuevoInventario.parteUbicacion" name="ubicacion">
  </td>
  <td mat-cell *matCellDef>
    <input matInput type="number" [(ngModel)]="nuevoInventario.precio" name="precio">
  </td>
  <td mat-cell *matCellDef>
    <button mat-button color="primary" (click)="guardarParte()">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-button color="warn" (click)="delete()">
      <mat-icon>delete</mat-icon>
    </button>
  </td>
</tr> -->

</table>
<p *ngIf="inventarioList.data.length === 0">No hay datos</p>
<p *ngIf="inventarioList.data.length > 0">Sí hay {{ inventarioList.data.length }} elementos en la tabla</p>
</div>
