.tabla-container{
    margin-top: 90px;
    padding: 10px;
    width: 100%;
}

.btn{
  margin-top: 1.5rem;
  background: linear-gradient(90deg, #7b1fa2, #4a148c);
  color: white!important;
  font-weight: bold;
  padding: 0.7rem 1.8rem;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(123, 31, 162, 0.4);
  transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.btn:hover{
  transform: scale(1.05);
  box-shadow: 0 6px 18px rgba(123, 31, 162, 0.5);
}

.mat-elevation-z8{
  margin: 20px auto;
  padding: 2rem;
  background-color: #f5e1f7;
  border-radius: 16px;
  border: 3px dashed #a349a4;
  color: #a349a4;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 4px 20px rgba(163, 73, 164, 0.2);
}

.titulos{
  color: black !important;
}

.inventario-container {
  max-width: 1000px;
  margin: 2rem auto;
  padding: 1rem;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.mat-header-cell, .mat-cell {
  text-align: center;
}

.add-button {
  text-align: right;
  margin-top: 1rem;
}

.no-data {
  text-align: center;
  padding: 2rem;
  font-weight: bold;
}