<div class="form-container" @fadeInGrow>
  <div *ngIf="carList.length === 0" class="no-cars-message" @slideUp>
    <div class="icono-alerta">🚗</div>
    <p> 🚫 AÚN NO HAY VEHÍCULOS REGISTRADOS </p>
  </div>
  <div *ngFor="let car of carList; let i = index" class="profile-container" @slideUp>
    <form [formGroup]="car.form" class="form-grid">
      <h2 class="title">
        VEHÍCULOS REGISTRADOS
        <div>
          <button mat-icon-button color="warn" (click)="deleteCar(i)" aria-label="Eliminar">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </h2>

      <div class="form-row">
        <mat-form-field appearance="fill">
          <mat-label class="label">
            <mat-icon matPrefix>directions_car</mat-icon>
            MARCA</mat-label>
          <input matInput formControlName="marca" class="input"/>
        </mat-form-field>
    
        <mat-form-field appearance="fill">
          <mat-label class="label">
            <mat-icon matPrefix>build</mat-icon>
            MODELO</mat-label>
          <input matInput formControlName="modelo" class="input"/>
        </mat-form-field>
      </div>
  
      <div class="form-row">
        <mat-form-field appearance="fill">
          <mat-label class="label">
            <mat-icon matPrefix>palette</mat-icon>
            COLOR</mat-label>
          <input matInput formControlName="color" class="input"/>
        </mat-form-field>
    
        <mat-form-field appearance="fill">
          <mat-label class="label">
            <mat-icon matPrefix>event</mat-icon>
            AÑO</mat-label>
          <input matInput formControlName="anio" class="input"/>
        </mat-form-field>
      </div>

      <div class="form-row">
        <mat-form-field appearance="fill" class="form-field">
        <mat-label class="label">
          <mat-icon matPrefix>confirmation_number</mat-icon>
          PLACA</mat-label>
            <input matInput formControlName="placa" class="input"/>
        </mat-form-field>

        <mat-form-field appearance="fill" class="form-field">
          <mat-label class="label">Fecha de Ingreso</mat-label>
          <input matInput [matDatepicker]="pickerIngreso" formControlName="fechaIngreso" [disabled]="!car.editMode" class="input">
          <mat-datepicker-toggle matSuffix [for]="pickerIngreso">
            <mat-icon matDatepickerToggleIcon>event</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #pickerIngreso></mat-datepicker>
          </mat-form-field>
      </div>

      <div class="form-row" *ngIf="car.form.get('partes')?.value">
        <mat-form-field appearance="fill" class="form-field">
          <mat-label class="label">
            <mat-icon>precision_manufacturing</mat-icon>
            PARTE SELECCIONADA</mat-label>
          <input matInput formControlName="partes" class="input"/>
        </mat-form-field>

        <mat-form-field appearance="fill" class="form-field">
          <mat-label class="label">
            <mat-icon>descripcion</mat-icon>
            DESCRIPCION DE LA PARTE</mat-label>
          <textarea matInput formControlName="descripcion" rows="3" class="input"></textarea>
        </mat-form-field>
      </div>

      <!-- <div class="form-row" *ngIf="car.form.get('fechaVenta')?.value">
        <mat-form-field appearance="fill" floatLabel="always">
          <mat-label class="label">Fecha de Venta</mat-label>
          <input matInput [matDatepicker]="pickerVenta" formControlName="fechaVenta" [disabled]="!car.editMode">
          <mat-datepicker-toggle matSuffix [for]="pickerVenta">
            <mat-icon matDatepickerToggleIcon>event</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #pickerVenta></mat-datepicker>
          </mat-form-field>
      </div> -->
    </form>
  </div>
</div>