<div class="cards-container">
  <div *ngIf="carList.length === 0" class="no-cars-message" @slideUp>
    <div class="icono-alerta">🚗</div>
    <p> 🚫 AÚN NO HAY VENTAS REGISTRADAS. </p>
  </div>
  <div *ngFor="let car of carList; let i = index" class="profile-container" @slideUp>
    <form [formGroup]="car.form">
      <h2 class="title">
        🚗 ORDEN DE COMPRA
        <div>
          <button mat-icon-button color="warn" (click)="deleteCar(i)" aria-label="Eliminar">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </h2>
  
      <div class="form-row">
        <mat-form-field appearance="fill" class="form-field">
          <mat-label class="label">
            <mat-icon matPrefix>local_offer</mat-icon>
            Marca</mat-label>
          <input matInput formControlName="marca1" class="input">
        </mat-form-field>
    
        <mat-form-field appearance="fill" class="form-field">
          <mat-label class="label">
            <mat-icon matPrefix>directions_car</mat-icon>
            Modelo</mat-label>
          <input matInput formControlName="modelo1" class="input">
        </mat-form-field>
      </div>

      <div class="form-row">
        <mat-form-field appearance="fill" class="form-field">
          <mat-label class="label">
            <mat-icon matPrefix>confirmation_number</mat-icon>
            Placa</mat-label>
          <input matInput formControlName="placa1" class="input">
        </mat-form-field>
    
        <mat-form-field appearance="fill" class="form-field">
          <mat-label class="label">
            <mat-icon matPrefix>palette</mat-icon>
            Color</mat-label>
          <input matInput formControlName="color1" class="input">
        </mat-form-field>
      </div>
  
      <div class="form-row">
        <mat-form-field appearance="fill" class="form-field">
          <mat-label class="label">
            <mat-icon matPrefix>calendar_today</mat-icon>
            Año</mat-label>
          <input matInput formControlName="anio1" class="input">
        </mat-form-field>

        <mat-form-field appearance="fill" class="form-field">
        <mat-label class="label">Fecha de Ingreso</mat-label>
        <input matInput [matDatepicker]="pickerIngreso" formControlName="fechaIngreso1" class="input">
        <mat-datepicker-toggle matSuffix [for]="pickerIngreso"></mat-datepicker-toggle>
        <mat-datepicker #pickerIngreso></mat-datepicker>
      </mat-form-field>
      </div>

      <div class="form-row">
        <mat-form-field appearance="fill" class="form-field">
          <mat-label class="label">
            <mat-icon matPrefix>build</mat-icon>
            PARTE DEL VEHICULO COMPRADA</mat-label>
          <mat-select formControlName="partes1" class="input">
            <mat-option *ngFor="let parte1 of partesVehiculo" [value]="parte1">
              {{ parte1 }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" class="form-field">
            <mat-label class="label">
              <mat-icon matPrefix>description</mat-icon>
              DESCRIPCION DE LA PARTE COMPRADA</mat-label>
            <textarea matInput formControlName="descripcion1" rows="4" placeholder="Ej: Puerta derecha trasera, retrovisor izquierdo, llanta tipo 24, etc..." class="input"></textarea>
        </mat-form-field>
      </div>

      <!-- <div class="form-row" *ngIf="car.form.get('fechaVenta')?.value">
        <mat-form-field appearance="fill" class="form-field" floatLabel="always">
          <mat-label class="label">Fecha de Venta</mat-label>
          <input matInput [matDatepicker]="pickerVenta" formControlName="fechaVenta1" [disabled]="!car.editMode">
          <mat-datepicker-toggle matSuffix [for]="pickerVenta"></mat-datepicker-toggle>
          <mat-datepicker #pickerVenta></mat-datepicker>
          </mat-form-field>
      </div> -->
    </form>
  </div>
</div>