<div class="form-container" @fadeInGrow>
  <h2>REGISTRAR CARRO</h2>
  <form [formGroup]="carForm" (ngSubmit)="register()">
    <mat-form-field appearance="fill">
      <mat-label>MARCA</mat-label>
      <input matInput formControlName="marca" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>MODELO</mat-label>
      <input matInput formControlName="modelo" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>COLOR</mat-label>
      <input matInput formControlName="color" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>AÑO</mat-label>
      <input matInput formControlName="anio" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>FECHA DE INGRESO</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="fechaIngreso" readonly/>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="!carForm.valid">
        <mat-icon *ngIf="!carForm.valid" style="margin-right: 8px;">block</mat-icon>
      REGISTRAR CARRO
    </button>
  </form>
</div>