<div class="form-container" @fadeInGrow>
  <h2>REGISTRAR VEHÍCULO</h2>
  <form [formGroup]="carForm" (ngSubmit)="register()" class="form-grid">

    <div class="form-row">
      <mat-form-field appearance="fill" class="form-field white-field">
        <mat-label class="label">
          <mat-icon matPrefix>directions_car</mat-icon>
          MARCA</mat-label>
        <input matInput formControlName="marca" class="input">
      </mat-form-field>
  
      <mat-form-field appearance="fill" class="form-field white-field">
        <mat-label class="label">
          <mat-icon matPrefix>build</mat-icon>
          MODELO</mat-label>
        <input matInput formControlName="modelo" class="input">
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="fill" class="form-field white-field">
        <mat-label class="label">
        <mat-icon matPrefix>palette</mat-icon>
        COLOR</mat-label>
        <input matInput formControlName="color" class="input">
      </mat-form-field>
  
      <mat-form-field appearance="fill" class="form-field white-field">
        <mat-label class="label">
        <mat-icon matPrefix>event</mat-icon>
        AÑO</mat-label>
        <input matInput formControlName="anio" class="input">
      </mat-form-field>
    </div>


    <div class="form-row">
      <mat-form-field appearance="fill" class="form-field white-field">
        <mat-label class="label">
          <mat-icon matPrefix>confirmation_number</mat-icon>
          PLACA</mat-label>
          <input matInput formControlName="placa" class="input">
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label class="label">FECHA DE INGRESO</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="fechaIngreso" readonly class="input"/>
        <mat-datepicker-toggle matSuffix [for]="picker">
          <mat-icon matDatepickerToggleIcon>event</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <button mat-raised-button color="primary" type="submit" [disabled]="!carForm.valid">
        <mat-icon *ngIf="!carForm.valid" style="margin-right: 8px;">block</mat-icon>
      REGISTRAR CARRO
    </button>
  </form>
</div>