<div class="dialog-form-container">
    <h2 mat-dialog-title>AGREGAR PARTE</h2>
    <mat-dialog-content [formGroup]="dialogForm">
        <mat-form-field class="full-width">
            <mat-label class="titulos">NOMBRE PARTE</mat-label>
            <mat-icon matPrefix *ngIf="!dialogForm.get('nombreParte')?.value">build</mat-icon>
            <input matInput formControlName="nombreParte" class="input">
        </mat-form-field>
        
        <mat-form-field class="full-width">
            <mat-label class="titulos">Descripción</mat-label>
            <mat-icon matPrefix *ngIf="!dialogForm.get('descripcion')?.value">description</mat-icon>
            <input matInput formControlName="descripcion" class="input">
        </mat-form-field>
        
        <mat-form-field class="full-width">
            <mat-label class="titulos">Cantidad Disponible</mat-label>
            <mat-icon matPrefix *ngIf="!dialogForm.get('cantidadDisponible')?.value">inventory_2</mat-icon>
            <input matInput type="number" formControlName="cantidadDisponible" class="input">
        </mat-form-field>
        
        <mat-form-field class="full-width">
            <mat-label class="titulos">Ubicación</mat-label>
            <mat-icon matPrefix *ngIf="!dialogForm.get('parteUbicacion')?.value">precision_manufacturing</mat-icon>
            <input matInput formControlName="parteUbicacion" class="input">
        </mat-form-field>
        
        <mat-form-field class="full-width">
            <mat-label class="titulos">Precio</mat-label>
            <mat-icon matPrefix *ngIf="!dialogForm.get('precio')?.value">attach_money</mat-icon>
            <input matInput type="number" formControlName="precio" class="input">
        </mat-form-field>
    </mat-dialog-content>
    
    <mat-dialog-actions align="end" class="botones">
      <button mat-button (click)="cancelar()" class="btn">Cancelar</button>
      <button mat-raised-button color="primary" (click)="guardar()" class="btn">Guardar</button>
    </mat-dialog-actions>
</div>