<div class="cards-container">
  <div *ngIf="carList.length === 0" class="no-cars-message" @slideUp>
    <div class="icono-alerta">🚗</div>
    <p> 🚫 AÚN NO TIENES PARTES COMPRADAS PARA TU VEHÍCULO. </p>
    <button mat-raised-button class="register-button" (click)="goToRegister()">Registrar Vehículo</button>
  </div>
  <div *ngFor="let car of carList; let i = index" class="profile-container" @slideUp>
    <form [formGroup]="car.form" (ngSubmit)="guardar(i)" class="form-grid">
      <h2 class="title">
        🚗 PARTES PARA TU VEHÍCULO
      </h2>
  
      <div class="form-row">
        <mat-form-field appearance="fill" class="form-field" floatLabel="always">
          <mat-label>Marca</mat-label>
          <mat-icon matPrefix>directions_car</mat-icon>
          <input matInput formControlName="marca" [disabled]="!car.editMode">
        </mat-form-field>
    
        <mat-form-field appearance="fill" class="form-field" floatLabel="always">
          <mat-label>Modelo</mat-label>
          <mat-icon matPrefix>build</mat-icon>
          <input matInput formControlName="modelo" [disabled]="!car.editMode">
        </mat-form-field>
      </div>
  
      <div class="form-row">
        <mat-form-field appearance="fill" class="form-field" floatLabel="always">
          <mat-label>Color</mat-label>
          <mat-icon matPrefix>palette</mat-icon>
          <input matInput formControlName="color" [disabled]="!car.editMode">
        </mat-form-field>
    
        <mat-form-field appearance="fill" class="form-field" floatLabel="always">
          <mat-label>Año</mat-label>
          <mat-icon matPrefix>event</mat-icon>
          <input matInput formControlName="anio" [disabled]="!car.editMode">
        </mat-form-field>
      </div>

      <div class="form-row">
        <mat-form-field appearance="fill" class="form-field" floatLabel="always">
        <mat-label>PLACA</mat-label>
            <mat-icon matPrefix>confirmation_number</mat-icon>
            <input matInput formControlName="placa"/>
        </mat-form-field>

        <mat-form-field appearance="fill" class="form-field" floatLabel="always">
          <mat-label>Fecha de Ingreso</mat-label>
          <input matInput [matDatepicker]="pickerIngreso" formControlName="fechaIngreso" [disabled]="!car.editMode">
          <mat-datepicker-toggle matSuffix [for]="pickerIngreso"></mat-datepicker-toggle>
          <mat-datepicker #pickerIngreso></mat-datepicker>
          </mat-form-field>
    </div>
    
    <div class="form-row">
      <mat-form-field appearance="fill" class="form-field" floatLabel="always">
            <mat-label>SELECCIONAR PARTE</mat-label>
            <mat-select formControlName="partes">
                <mat-option *ngFor="let parte of partesDisponibles" [value]="parte">
                    {{ parte }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div class="parte-imagen" *ngIf="selectedImages[i]">
          <img [src]="selectedImages[i]" alt="Imagen de parte seleccionada">
        </div>

        <mat-form-field appearance="fill" class="form-field" floatLabel="always">
            <mat-label>Descripción</mat-label>
            <textarea matInput formControlName="descripcion" rows="4" placeholder="Ej: Puerta derecha trasera, retrovisor derecho, llanta 17/80, motor 1600, ETC...."></textarea>
        </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="fill" class="form-field" floatLabel="always">
          <mat-label>Fecha de Venta</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="fechaVenta" [disabled]="!car.editMode">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>

      <button mat-raised-button color="primary" type="submit">COMPRAR PARTE</button>
    </form>
  </div>
</div>