<div class="cards-container">
  <div *ngIf="carList.length === 0" class="no-cars-message" @slideUp>
    <div class="icono-alerta">🚗</div>
    <p> 🚫 AÚN NO TIENES PARTES COMPRADAS PARA TU VEHÍCULO. </p>
    <button mat-raised-button class="register-button" (click)="goToRegister()">Registrar Vehículo</button>
  </div>
  <div *ngFor="let car of carList; let i = index" class="profile-container" @slideUp>
    <form [formGroup]="car.form" (ngSubmit)="guardar(i)" class="form-grid">
      <h2 class="title">
        🚗 PARTES PARA TU VEHÍCULO
      </h2>
  
      <div class="form-row">
        <mat-form-field appearance="fill" class="form-field">
          <mat-label class="label">
            <mat-icon matPrefix>directions_car</mat-icon>
            Marca</mat-label>
          <input matInput formControlName="marca" [disabled]="!car.editMode" class="input">
        </mat-form-field>
    
        <mat-form-field appearance="fill" class="form-field">
          <mat-label class="label">
            <mat-icon matPrefix>build</mat-icon>
            Modelo</mat-label>
          <input matInput formControlName="modelo" [disabled]="!car.editMode" class="input">
        </mat-form-field>
      </div>
  
      <div class="form-row">
        <mat-form-field appearance="fill" class="form-field">
          <mat-label class="label">
            <mat-icon matPrefix>palette</mat-icon>
            Color</mat-label>
          <input matInput formControlName="color" [disabled]="!car.editMode" class="input">
        </mat-form-field>
    
        <mat-form-field appearance="fill" class="form-field">
          <mat-label class="label">
            <mat-icon matPrefix>event</mat-icon>
            Año</mat-label>
          <input matInput formControlName="anio" [disabled]="!car.editMode" class="input">
        </mat-form-field>
      </div>

      <div class="form-row">
        <mat-form-field appearance="fill" class="form-field">
        <mat-label class="label">
          <mat-icon matPrefix>confirmation_number</mat-icon>
          PLACA</mat-label>
          <input matInput formControlName="placa" class="input"/>
        </mat-form-field>

        <mat-form-field appearance="fill" class="form-field">
          <mat-label class="label">Fecha de Ingreso</mat-label>
          <input matInput [matDatepicker]="pickerIngreso" formControlName="fechaIngreso" [disabled]="!car.editMode" class="input">
          <mat-datepicker-toggle matSuffix [for]="pickerIngreso">
            <mat-icon matDatepickerToggleIcon>event</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #pickerIngreso></mat-datepicker>
          </mat-form-field>
    </div>
    
    <div class="form-row partes-row">
      <div class="campos-izquierda">
        <mat-form-field appearance="fill" class="form-field">
              <mat-label class="label">
                <mat-icon>precision_manufacturing</mat-icon>
                SELECCIONAR PARTE</mat-label>
              <mat-select formControlName="partes" class="input">
                  <mat-option *ngFor="let parte of partesDisponibles" [value]="parte">
                      {{ parte }}
                  </mat-option>
              </mat-select>
          </mat-form-field>


          <mat-form-field appearance="fill" class="form-field">
              <mat-label class="label">
                <mat-icon>description</mat-icon>
                Descripción</mat-label>
              <textarea matInput formControlName="descripcion" rows="4" placeholder="Ej: Puerta derecha trasera, retrovisor derecho, llanta 17/80, motor 1600, ETC...." class="input"></textarea>
          </mat-form-field>
      </div>

        <div class="parte-imagen" *ngIf="selectedImages[i]">
          <img [src]="selectedImages[i]" alt="Imagen de parte seleccionada">
        </div>

    </div>

    <div class="form-row">
      <mat-form-field appearance="fill" class="form-field">
          <mat-label class="label">Fecha de Venta</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="fechaVenta" [disabled]="!car.editMode" class="input">
          <mat-datepicker-toggle matSuffix [for]="picker">
            <mat-icon matDatepickerToggleIcon>event</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>

      <button mat-raised-button color="primary" type="submit">COMPRAR PARTE</button>
    </form>
  </div>
</div>