<div class="cards-container">
  <!-- <div *ngIf="carList.length === 0" class="no-cars-message" @slideUp>
    <div class="icono-alerta">🚗</div>
    <p> 🚫 AÚN NO TIENES VEHÍCULOS REGISTRADOS. </p>
    <button mat-raised-button class="register-button" (click)="goToRegister()">Registrar Vehículo</button>
  </div> -->
  <div *ngFor="let cliente of clientes" class="client-card" @slideUp>
      <p><strong>Nombre:</strong>{{ cliente.nombre }}</p>
      <p><strong>Apellido:</strong>{{ cliente.apellido }}</p>
      <p><strong>Correo:</strong>{{ cliente.correoElectronico }}</p>
      <!-- <button mat-raised-button color="primary" (click)="goToRegister(cliente.cedulaCliente)">
        Registrar vehículo
      </button> -->
  </div>
  <div *ngFor="let car of carList; let i = index" class="profile-container" @slideUp>
    <form [formGroup]="car.form" class="form-grid">
      <h2 class="title">
        🚗 Vehículo Registrado
        <div>
          <button mat-icon-button (click)="toggleEdit(i)" aria-label="Editar">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteCar(i)" aria-label="Eliminar">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </h2>
  
      <div class="form-row">
        <mat-form-field appearance="fill" class="form-field">
          <mat-label class="label">
            <mat-icon matPrefix>directions_car</mat-icon>
            Marca</mat-label>
          <input matInput formControlName="marca" [disabled]="!car.editMode" class="input">
        </mat-form-field>
    
        <mat-form-field appearance="fill" class="form-field">
          <mat-label class="label">
            <mat-icon matPrefix>build</mat-icon>
            Modelo</mat-label>
          <input matInput formControlName="modelo" [disabled]="!car.editMode" class="input">
        </mat-form-field>
      </div>
  
      <div class="form-row">
        <mat-form-field appearance="fill" class="form-field">
          <mat-label class="label">
            <mat-icon matPrefix>palette</mat-icon>
            Color</mat-label>
          <input matInput formControlName="color" [disabled]="!car.editMode" class="input">
        </mat-form-field>
    
        <mat-form-field appearance="fill" class="form-field">
          <mat-label class="label">
            <mat-icon matPrefix>event</mat-icon>
            Año</mat-label>
          <input matInput formControlName="anio" [disabled]="!car.editMode" class="input">
        </mat-form-field>
      </div>

      <div class="form-row">
        <mat-form-field appearance="fill" class="form-field" floatLabel="always">
        <mat-label class="label">PLACA</mat-label>
            <mat-icon matPrefix *ngIf="!car.form.get('placa')?.value">confirmation_number</mat-icon>
            <input matInput formControlName="placa" class="input"/>
        </mat-form-field>

        <mat-form-field appearance="fill" class="form-field" floatLabel="always">
          <mat-label class="label">Fecha de Ingreso</mat-label>
          <input matInput [matDatepicker]="pickerIngreso" formControlName="fechaIngreso" [disabled]="!car.editMode" class="input">
          <mat-datepicker-toggle matSuffix [for]="pickerIngreso"></mat-datepicker-toggle>
          <mat-datepicker #pickerIngreso></mat-datepicker>
          </mat-form-field>
      </div>

      <div *ngIf="car.historialPartes.length > 0" class="form-row">
        <h3>🛠️ Partes Compradas</h3>
        <div *ngFor="let parte of car.historialPartes; let j = index" class="parte-card">
          <mat-form-field appearance="fill" class="form-field">
            <mat-label class="label">Parte</mat-label>
            <input matInput [value]="parte.partes" disabled>
          </mat-form-field>
          
          <mat-form-field appearance="fill" class="form-field">
            <mat-label class="label">Descripción</mat-label>
            <textarea matInput [value]="parte.descripcion" rows="3" disabled></textarea>
          </mat-form-field>
          
          <mat-form-field appearance="fill" class="form-field">
            <mat-label class="label">Fecha de Venta</mat-label>
            <input matInput [value]="parte.fechaVenta" disabled>
          </mat-form-field>
        </div>
      </div>

      <button mat-raised-button color="primary" (click)="saveChanges(i)" [disabled]="!car.editMode">Guardar Cambios</button>
    </form>
  </div>
</div>